<div class="col-sm-3">
    <div data-sly-use.login="${'com.cgworks.components.LoginSignup' @ request=request, sling=sling}" data-sly-unwrap>
        <div data-sly-test.logged="${login.loggedIn}">
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-sm-3">
    <label for="texty">Add Comment</label>
    <input type="text" id="texty" name="comment"/>
    <button type="submit" id="submit-button">Submit</button>
</div>
<div class="clearfix"></div>
<div class="col-sm-6">
    <h1>comments</h1>
    <div data-sly-use.comments="${'com.cgworks.components.page.CommentPage' @ resource=resource, sling=sling, account = login.user, author = login.user.userName}">
        <div id="user-commenting" style="display:none;">${comments.userCommenting}</div>
        <div id="user-author" style="display:none">${comments.currentAuthor}</div>
        <ul data-sly-list.child="${comments.output}">
            <div data-sly-use.template="comment.html" data-sly-unwrap>
                <div data-sly-call="${template.comment @ child = child}" data-sly-unwrap></div>
            </div>
        </ul>
    </div>

</div>