<template data-sly-template.comment="${ @ child}">
<li class="${child.uuidPath}">${child.attribution}
    <div data-sly-test="${child.attribution}" data-sly-unwrap>:</div>
    ${child.someMessage} <a href="#" class="comment-reply">Reply</a>&nbsp;&nbsp;&nbsp;
    <input type="text" class="reply-input" style="display:none;">&nbsp;
    <button type="button" class="reply-submit" style="display:none;"> Submit </button>
    <ul data-sly-list.subchild="${child.replies}">
        <div data-sly-call="${comment @ child = subchild}" data-sly-unwrap></div>
    </ul>
</li>
</template>