<script src="/etc/js/jquery.min.js"></script>
<script src="/etc/js/bootstrap.min.js"></script>
<script src="/etc/js/utils.js"></script>
<script type="text/javascript">
    $('#submit-button').on('click', function(){
        var currentPath = window.location.pathname;
        currentPath = currentPath.replace(".html", "");
        var message = $('#texty').val();
        var commentingUser = $('#user-commenting');
        var commentAuthor = $('#user-author');
        var userPath, author;
        if(commentingUser.text()){
            userPath = commentingUser.text();
        }
        if(commentAuthor.text()){
            author = commentAuthor.text();
        }
        postComment(message, currentPath, userPath, author);
    });
    $('.comment-reply').on('click', function(){
        var morbis = $(this).parent();
        morbis[0].childNodes[3].style.display = "inline";
        morbis[0].childNodes[5].style.display = "inline";
    });
    $('.reply-submit').on('click', function(){
        var torbis = $(this).parent();
        var uuid = torbis.attr('class');
        var currentPath = window.location.pathname;
        currentPath = currentPath.replace(".html", "");
        var submitPath = currentPath + uuid;
        var userPath, author;
        var commentingUser = $('#user-commenting');
        if(commentingUser.text()){
            userPath = commentingUser.text();
        }
        var commentAuthor = $('#user-author');
        if(commentAuthor.text()){
            author = commentAuthor.text();
        }
        var submitMessage = torbis[0].childNodes[3].value;
        postComment(submitMessage, submitPath, userPath, author);
    });
    function postComment(message, path, userPath, authorName){
        $.post('/bin/comment/create', { comment : message, path : path, userPath : userPath, authorName: authorName})
                .done(function(data){
                    if(path.indexOf("data") > -1){
                        var index = path.indexOf("/data/");
                        path = path.substr(0, index);
                    }
                    window.location.replace(path + ".html");
                });
    }
</script>