<div class="col-sm-3">
    <div data-sly-use.login="${'com.cgworks.components.LoginSignup' @ request=request, sling=sling}" data-sly-unwrap>
        <div data-sly-test.logged="${login.loggedIn}">
            logged in as ${login.user.userName}
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div data-sly-use.shopDetail="${'com.cgworks.components.page.ShopDetailPage' @ resource = resource}" data-sly-unwrap>
    <h3>${shopDetail.currentProduct.title}</h3>
    <div class="clearfix"></div>
    <form action="/bin/addToCart" method="post">
        <input type="hidden" name="resource" value="${shopDetail.currentProduct.resourcePath}"/>
        <input type="hidden" name="quantity" value="1"/>
        <button type="submit">Add to Cart</button>
    </form>

</div>