<div class="col-md-12">
    <form action="/bin/admin/order/manage" method="POST">
        <div class="container-fluid" data-sly-use.orderManager="${'com.cgworks.components.admin.OrdersList' @ sling=sling}" data-sly-unwrap>
            <ul>
            <div data-sly-list.order="${orderManager.orderList}" data-sly-unwrap>
                <li>
                    <input type="hidden" value="${order.resourcePath}" name="order[${orderList.count}][path]"/>
                    ${order.orderStatus} ${order.orderTotal} : ${order.orderJson}
                    <label for="order[${orderList.count}][delete]">Delete</label>
                    <input type="checkbox" name="order[${orderList.count}][delete]" id="order[${orderList.count}][delete]"/>
                </li>
            </div>
            </ul>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>