<div class="col-md-6">
    <button type="button" class="email-btn btn-lg">Send email</button>
    <div data-sly-use.template="/apps/components/image/image.html" data-sly-unwrap>
        <div data-sly-call="${template.imageTemplate @ name = 'cameo.jpg', width= '400', sling=sling}" data-sly-unwrap></div>
    </div>
</div>
<div class="col-md-6">
    <div data-sly-include="/apps/components/login/login.html" data-sly-unwrap></div>
</div>
<div class="clearfix"></div>
<div data-sly-include="/apps/components/calendar/calendar.html" data-sly-unwrap></div>
