<div data-sly-use.shop="${'com.cgworks.components.page.ShopPage' @ sling=sling, request=request}" data-sly-unwrap>
    <div class="col-sm-12 col-md-3">
        <div class="hidden-lg hidden-xl">
            <div data-sly-include="/apps/components/shop-search/shop-search.html" data-sly-unwrap></div>
        </div>
        <div class="clearfix"></div>
        <h4>Item Filters</h4>
        <div class="clearfix"></div>
        <ul>
        <div data-sly-list.filter="${shop.filtersAvailable}" data-sly-unwrap>
            <li><a href="${resource.path}.html?filter=${filter}">${filter}</a></li>
        </div>
            <li><a href="${resource.path}.html?">Clear</a></li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-9">
        <div class="clearfix"></div>
        <div class="col-sm-8">
            <h3>Richornot Shop</h3>
            <div class="clearfix"></div>
            <!--<div data-sly-include="/apps/components/carousel/carousel.html" data-sly-unwrap></div>
            <div class="clearfix"></div>-->
            <div data-sly-test.haveItems="${shop.forSaleItems}" data-sly-unwrap>
                <div data-sly-list.shopItem="${shop.forSaleItems}" data-sly-unwrap>
                    <!-- template -->
                    <div data-sly-use.template="shop-item.html" data-sly-unwrap>
                        <div data-sly-call="${template.shopItemTemplate @ shopItem = shopItem}" data-sly-unwrap></div>
                    </div>
                </div>
            </div>
            <div data-sly-test="${!haveItems}" data-sly-unwrap>
                <h5>No products found</h5>
            </div>
        </div>
        <div class="hidden-xs hidden-sm hidden-md col-sm-4">
            <div data-sly-include="/apps/components/shop-search/shop-search.html" data-sly-unwrap></div>
        </div>
    </div>
</div>
