<script src="/etc/js/utils.js"></script>

<script type="text/javascript">
    $(function() {
        if(window.location){
            if(window.location.search){
                var queryString = window.location.search;
                if(queryString.indexOf("?searchInput=") > -1) {
                    queryString = queryString.replace("?searchInput=", "");
                    $('#shop-search-input').val(queryString);
                }
            }
        }
        $('#carousel-example-generic').carousel();
    });
</script>
