<template data-sly-template.shopItemTemplate="${ @ shopItem}">

<div class="col-sm-4">
    <div data-sly-test="${shopItem.imageNames}" data-sly-unwrap>
        <div data-sly-use.template="/apps/components/image/image.html" data-sly-unwrap>
            <div data-sly-call="${template.imageTemplate @ name = shopItem.imageNames[0], width = '200', sling=sling}" data-sly-unwrap></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <a href="${shopItem.resourcePath}.html">${shopItem.title}</a>

</div>

</template>