
<div data-sly-use.account="${'com.cgworks.components.page.AccountPage' @ sling=sling}" data-sly-unwrap>
<h1>My Account</h1>

<div class="clearfix"></div>

<h4> Orders</h4>
    <ul>
        <div data-sly-use.template="/apps/components/order-list/order-list.html" data-sly-unwrap>
            <div data-sly-call="${template.orderListTemplate @ orders = account.orderList}" data-sly-unwrap></div>
        </div>
    </ul>
<div class="clearfix"></div>

<h4> Change Password</h4>

<div class="clearfix"></div>

<h4> My info</h4>

<div class="clearfix"></div>
</div>