<script src="/etc/js/jquery.min.js"></script>
<script src="/etc/js/bootstrap.min.js"></script>
<script src="/etc/js/utils.js"></script>
<script type="text/javascript">
    $('.ron-signup').on('click', function(){
        var zorbis = $(this).parent();
        var username = zorbis[0].children[1].value;
        var password = zorbis[0].children[4].value;
        var email = zorbis[0].children[7].value;
        $.post('/bin/account/create', {username : username, password: password, email:email}).done(
                function(data){
                    //set cookie to page, refresh page to trigger updated contents
                    if(data.token){
                        createCookie("x-morbis-flng", data.token, 30);
                        window.location.replace(window.location.pathname+"?");
                    }else if(data.error){
                        alert(data.error);
                    }
                }
        );
    });
    $('.ron-login').on('click', function(){
        var loginForm = $(this).parent();
        var userName = loginForm[0].children[1].value;
        var password = loginForm[0].children[4].value;
        $.post('/bin/account/login', {username : userName, password: password}).done(
                function(data){
                    //set cookie to page, refresh page to trigger updated contents
                    if(data.token){
                        createCookie("x-morbis-flng", data.token, 30);
                        window.location.replace(window.location.pathname +"?");
                    }else if(data.error){
                        alert(data.error);
                    }
                }
        );

    });
    $('.ron-logout').on('click', function(){
        $.post('/bin/account/logout').done(
                function(data){
                    eraseCookie("x-morbis-flng");
                    window.location.replace(window.location.pathname+"?");
                }
        );
    });
</script>