
<h3>Checkout</h3>
<div class="clearfix"></div>

<div data-sly-use.checkout="${'com.cgworks.components.page.CheckoutPage' @ request = request, sling=sling}">

    <!-- guest order input necessities -->
    <input type="text" name="name" id="guestName" title="Name"/>
    <input type="text" name="email" id="guestEmail" title="Email"/>
    <input type="text" name="address" id="guestAddress" title="Address"/>

    <div data-sly-test="${checkout.orderStatus == 'created'}">
        Your order was successfully created.
    </div>

</div>