<template data-sly-template.orderListTemplate="${ @ orders}">
    <div data-sly-list.order="${orders}" data-sly-unwrap>
        <li><a href="${order.resourcePath}.html">${order.timeString} </a> order amount: ${order.orderTotal}
            <!--<ul data-sly-list.subchild="${child.childPages}">
                <div data-sly-call="${navItemTemplate @ child = subchild}" data-sly-unwrap></div>
            </ul>-->
        </li>

    </div>
</template>