<template data-sly-template.imageTemplate="${ @ name, width, sling}">
    <div data-sly-use.imageComponent="${'com.cgworks.components.Image' @ sling=sling, name=name, width=width}" data-sly-unwrap>
        <img src="${imageComponent.rendition.url}" name="${imageComponent.rendition.fileName}" width="${width}"/>
    </div>
</template>