
<h3>Order Page</h3>
<div class="clearfix"></div>
<div data-sly-use.order="${'com.cgworks.components.page.OrderReviewPage' @ sling=sling, request=request}" data-sly-unwrap>
    <div data-sly-test.hasUserCart="${order.userCart}" data-sly-unwrap>
        <div data-sly-test="${order.userCart.nullItems}">
            Null Items : <br/>
            <div data-sly-list.shopItem="${order.userCart.nullItems}">
                ${shopItem.productPath} : ${shopItem.quantity} : ${shopItem.product.price} <br/>
            </div>
        </div>
        <div data-sly-test="${order.userCart.partialItems}">
            Partial Items : <br/>
            <div data-sly-list.partialItem="${order.userCart.partialItems}">
                ${partialItem.productPath} : ${partialItem.quantity} : ${partialItem.product.price} <br/>
            </div>
        </div>
        <div data-sly-test="${order.userCart.orderableItems}">
            Orderable: <br/>
            <div data-sly-list.orderable="${order.userCart.orderableItems}">
                ${orderable.productPath} : ${orderable.quantity} : ${orderable.product.price} <br/>
            </div>
        </div>
        Grand total : ${order.userCart.grandTotal}
        <div class="clearfix"></div>
        <div data-sly-test="${order.canSubmit}">
            <form action="/bin/cart/create-reviewed" method="post">
                <input type="hidden" value="${order.json}" name="orderJson"/>
                <button type="submit">Submit Order</button>
            </form>
        </div>
        <div class="clearfix"></div>
        <form action="/bin/cart/clear" method="post">
            <input type="hidden" name="redirect" value="${resource.path}"/>
            <button type="submit">Clear Cart</button>
        </form>
    </div>
    <div data-sly-test.hasGuestCart="${order.guestCart}" data-sly-unwrap>
        <div data-sly-test="${order.guestCart.nullItems}">
            Null Items : <br/>
            <div data-sly-list.shopItem="${order.guestCart.nullItems}">
                ${shopItem.productPath} : ${shopItem.quantity} : ${shopItem.product.price} <br/>
            </div>
        </div>
        <div data-sly-test="${order.guestCart.partialItems}">
            Partial Items : <br/>
            <div data-sly-list.partialItem="${order.guestCart.partialItems}">
                ${partialItem.productPath} : ${partialItem.quantity} : ${partialItem.product.price} <br/>
            </div>
        </div>
        <div data-sly-test="${order.guestCart.orderableItems}">
            Orderable: <br/>
            <div data-sly-list.orderable="${order.guestCart.orderableItems}">
                ${orderable.productPath} : ${orderable.quantity} : ${orderable.product.price} <br/>
            </div>
        </div>
        Grand total : ${order.guestCart.grandTotal}
        <div class="clearfix"></div>

        <div data-sly-test="${order.canSubmit}">
            <form action="/bin/cart/create-reviewed?guest=true" method="post">
                <input type="hidden" name="orderJson" value="${order.json}">
                <input type="text" name="name" id="guestName" title="Name"/>
                <input type="text" name="email" id="guestEmail" title="Email"/>
                <input type="text" name="address" id="guestAddress" title="Address"/>
                <button type="submit">Checkout as Guest</button>
            </form>
        </div>
        <div class="clearfix"></div>
        <form action="/bin/cart/clear" method="post">
            <input type="hidden" name="redirect" value="${resource.path}"/>
            <button type="submit">Clear Cart</button>
        </form>
    </div>
    <div data-sly-test="${!hasUserCart && !hasGuestCart}">
        No items to purchase.
    </div>
</div>
