<div class="col-sm-3">
    <div data-sly-use.login="${'com.cgworks.components.LoginSignup' @ request=request, sling=sling}" data-sly-unwrap>
        <div data-sly-test.logged="${login.loggedIn}">
            logged in as ${login.user.userName}
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div data-sly-use.orderDetail="${'com.cgworks.components.page.OrderDetailPage' @ resource = resource, sling = sling}" data-sly-unwrap>
    <h3>${orderDetail.currentOrder.timeString}</h3>

</div>