
<h3>Order Page</h3>
<div class="clearfix"></div>
<div data-sly-use.order="${'com.cgworks.components.page.OrderPage' @ sling=sling, request=request}" id="order-body">
    <div data-sly-test.hasUserCart="${order.userCart}" data-sly-unwrap></div>
    <div data-sly-test.hasGuestCart="${order.guestCart}" data-sly-unwrap></div>

    <div class="col-sm-4 column-headings">Quantity</div>
    <div class="col-sm-4 column-headings">Item</div>
    <div class="col-sm-4 column-headings">Price</div>
    <div class="clearfix"></div>
    <div data-sly-list.shopItem="${order.items}">
        <div class="item-container">
            <div class="col-sm-4 item-qty">
                <input type="number" value="${shopItem.quantity}" data-path="${shopItem.productPath}"/>
                <input type="hidden" value="${shopItem.quantity}" name="previous-qty"/>
                <input type="hidden" value="${shopItem.product.price}" name="item-price-per"/>
                <span class="alert-warning" style="display:none;">Qty. Limited</span>
            </div>
            <div class="col-sm-4 item-title">
                ${shopItem.product.title}
            </div>
            <div class="col-sm-4 item-price">
                <span class="item-price-amount"></span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-6 cart-grand-total">
        <span class="grand-total">Grand total :</span>
        <span class="grand-total-amt">
                <div data-sly-test="${hasUserCart}" data-sly-unwrap>${order.userCart.grandTotal}</div>
                <div data-sly-test="${hasGuestCart}" data-sly-unwrap>${order.guestCart.grandTotal}</div>
            </span>
    </div>
    <div class="clearfix"></div>

    <div class="col-sm-6">
        <form action="/bin/cart/clear" method="post">
            <input type="hidden" name="redirect" value="${resource.path}"/>
            <button type="submit">Clear Cart</button>
        </form>
    </div>

    <div class="col-sm-6">
        <form action="/bin/cart/create" method="post">
            <input type="hidden" value="${order.json}" name="orderJson"/>
            <button type="submit">
                <div data-sly-test="${hasUserCart}" data-sly-unwrap>Checkout</div>
                <div data-sly-test="${hasGuestCart}" data-sly-unwrap>Checkout as Guest</div>
            </button>
        </form>
    </div>

    <div data-sly-test="${!hasUserCart && !hasGuestCart}">
        No items to purchase.
    </div>
</div>
