<script src="/etc/js/jquery.min.js"></script>
<script src="/etc/js/bootstrap.min.js"></script>
<script src="/etc/js/utils.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/apps/components/order/quantityUpdates.js"></script>