<div data-sly-use.cart="${'com.cgworks.components.CartWidget' @ request=request, sling=sling}" data-sly-unwrap>
    <div data-sly-test.hasCart="${cart && cart.cartSize}">
        <div data-sly-test.hasItems="${cart.cartSize > 1}">
            ${cart.cartSize} items in cart
        </div>
        <div data-sly-test="${!hasItems}">
            1 item in cart
        </div>
        <a href="${cart.orderPageLink}">Checkout</a>
        <div class="clearfix"></div>
        <form action="/bin/cart/clear" method="post">
            <input type="hidden" name="redirect" value="${resource.path}"/>
            <button type="submit">Clear Cart</button>
        </form>
    </div>
</div>