<template data-sly-template.navItemTemplate="${ @ child}">
    <li><a href="${child.currentPage.resourcePath}.html">${child.currentPage.title}</a>
        <!--<ul data-sly-list.subchild="${child.childPages}">
            <div data-sly-call="${navItemTemplate @ child = subchild}" data-sly-unwrap></div>
        </ul>-->
    </li>
</template>