<nav class="navbar navbar-default">
    <div class="container-fluid" data-sly-use.nav="${'com.cgworks.components.SiteNav' @ sling=sling}">
        <div class="navbar-header">
            <a class="navbar-brand">Rich or Not.com</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <div data-sly-test.hasBack="${nav.navigation.backPage}" data-sly-unwrap>
                    <li><a href="${nav.navigation.backPage.resourcePath}.html">Back</a></li>
                </div>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <div data-sly-list.navItem="${nav.navigation.childPages}" data-sly-unwrap>
                    <div data-sly-use.template="/apps/components/nav/nav-item.html" data-sly-unwrap>
                        <div data-sly-call="${template.navItemTemplate @ child = navItem}" data-sly-unwrap></div>
                    </div>
                </div>
                <div data-sly-use.login="${'com.cgworks.components.LoginSignup' @ request=request, sling=sling}" data-sly-unwrap>
                    <div data-sly-test.logged="${login.loggedIn}" data-sly-unwrap>
                        <div data-sly-list.authItem="${nav.navigation.authRequiredPages}" data-sly-unwrap>
                            <div data-sly-use.template="/apps/components/nav/nav-item.html" data-sly-unwrap>
                                <div data-sly-call="${template.navItemTemplate @ child = authItem}" data-sly-unwrap></div>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>