<div data-sly-use.login="${'com.cgworks.components.LoginSignup' @ request=request, sling=sling}" data-sly-unwrap>
    <div data-sly-test.logged="${login.loggedIn}" data-sly-unwrap>
        <button class="ron-logout">Logout</button>
    </div>
    <div data-sly-test="${!logged}" data-sly-unwrap>
        <div class="col-sm-12 col-md-6" id="ron-login-parent">
            <h4>Login</h4>
            <div>
                <label for="ron-username-login">Username</label>
                <input type="text" id="ron-username-login"/>
                <h6 id="ron-name-error" style="display:none">Please enter a username</h6>
                <div class="clearfix"></div>

                <label for="ron-pwd-login">Password</label>
                <input type="password" id="ron-pwd-login" />
                <h6 id="ron-pwd-error" style="display:none">Please enter a password</h6>
                <div class="clearfix"></div><br/>

                <button class="ron-login">Login</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <button class="ron-signup-toggle">Signup</button>
                <div class="clearfix"></div>

                <h6 id="ron-login-error" style="display:none">Check credentials and try again</h6>
            </div>

        </div>

        <div class="col-sm-12 col-md-6" id="ron-signup-parent" style="display:none;">
            <h4>Signup</h4>
            <div>
                <label for="ron-username">Username</label>
                <input type="text" id="ron-username" required/>
                <h6 id="name-error" style="display:none">Please enter a username</h6>
                <h6 id="name-exists" style="display:none">Username is already taken</h6>
                <h6 id="name-bad" style="display:none">Pick a different username</h6>
                <div class="clearfix"></div>

                <label for="ron-pwd">Password</label>
                <input type="password" id="ron-pwd" required/>
                <h6 id="pwd-error" style="display:none">Please enter a password</h6>
                <h6 id="pwd-short" style="display:none">Enter 5 or more characters</h6>
                <div class="clearfix"></div>

                <label for="ron-pwd-valid">Confirm Password</label>
                <input type="password" id="ron-pwd-valid" required/>
                <h6 id="pwd-match" style="display:none">Passwords don't match</h6>
                <div class="clearfix"></div>

                <label for="ron-email">Email</label><br/>
                <input type="email" id="ron-email" required/>
                <h6 id="email-error" style="display:none">Please enter an email</h6>
                <h6 id="email-input" style="display:none">Please validate email input </h6>
                <h6 id="email-in-use" style="display:none;">Email already in use</h6>
                <div class="clearfix"></div><br/>

                <button class="ron-signup" >Signup</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <button class="ron-login-toggle">Login</button>
                <div class="clearfix"></div>

                <h6 id="ron-signup-error" style="display:none">Something went wrong.. Check input and try again</h6>
        </div>
        </div>
    </div>
</div>
<script src="/etc/js/jquery.min.js"></script>
<script src="/apps/components/login/script.js"></script>
<script src="/etc/js/utils.js"></script>