<template data-sly-template.navItemTemplate="${ @ child, count, childLevel, authPage}">
    <li>
        <div data-sly-test.hasPages="${child.childPages || child.authRequiredPages}" data-sly-unwrap>
            <a href="#${child.currentPage.uuid}" data-toggle="collapse" id="${child.currentPage.uuid}hider">Hide</a>
        </div>
        <div data-sly-test="${!authPage}" data-sly-unwrap>
            <input type="hidden" value="${child.currentPage.resourcePath}" name="page[${childLevel}][${count}]"/>
            <input type="checkbox" name="create[${childLevel}][${count}]" id="create[${childLevel}][${count}]"/>
            <a href="${child.currentPage.resourcePath}.html">${child.currentPage.title}</a>
        </div>
        <div data-sly-test="${authPage}" data-sly-unwrap>
            <input type="hidden" value="${child.currentPage.resourcePath}" name="auth[${childLevel}][${count}]"/>
            <input type="checkbox" name="makeAuth[${childLevel}][${count}]" id="makeAuth[${childLevel}][${count}]"/>
            <a href="${child.currentPage.resourcePath}.html">${child.currentPage.title}</a>
        </div>

        <div data-sly-test="${hasPages}" data-sly-unwrap>
            <ul id="${child.currentPage.uuid}" class="collapse in" style="list-style:none;">
                <div data-sly-list.subchild="${child.childPages}" data-sly-unwrap>
                <div data-sly-use.incrementer="${'com.cgworks.utils.Incrementer' @ value = childLevel}" data-sly-unwrap>
                    <div data-sly-call="${navItemTemplate @ child = subchild, count = subchildList.count, childLevel = incrementer.nextValue, authPage = false}" data-sly-unwrap></div>
                </div>
                </div>
                <div data-sly-list.subAuth="${child.authRequiredPages}" data-sly-unwrap>
                    <div data-sly-use.incrementer="${'com.cgworks.utils.Incrementer' @ value = childLevel}" data-sly-unwrap>
                        <div data-sly-call="${navItemTemplate @ child = subAuth, count = subAuthList.count, childLevel = incrementer.nextValue, authPage = true}" data-sly-unwrap></div>
                    </div>
                </div>
            </ul>
        </div>
    </li>
</template>