<form action="/bin/admin/page/manage" id="pageAdminCreateForm" method="POST">
<div class="col-md-6">
<div class="container-fluid" data-sly-use.nav="${'com.cgworks.components.SiteNav' @ sling=sling}">
    <ul style="list-style:none;">
    <div data-sly-list.navItem="${nav.navigation.childPages}" data-sly-unwrap>
        <div data-sly-use.template="/apps/components/admin/page/nav-item.html" data-sly-unwrap>
            <div data-sly-call="${template.navItemTemplate @ child = navItem, count = navItemList.count, childLevel = 0, authPage = false}" data-sly-unwrap></div>
        </div>
    </div>

    <div data-sly-list.authItem="${nav.navigation.authRequiredPages}" data-sly-unwrap>
        <div data-sly-use.template="/apps/components/admin/page/nav-item.html" data-sly-unwrap>
            <div data-sly-call="${template.navItemTemplate @ child = authItem, count = authItemList.count, childLevel = 0, authPage = true}" data-sly-unwrap></div>
        </div>
    </div>
    </ul>
</div>
</div>
<div class="col-md-6">
    <label for="resourceTypeSelect">Available Page Types</label>
    <div class="clearfix"></div>
    <select form="pageAdminCreateForm" id="resourceTypeSelect" name="resourceType">
<div data-sly-use.types="${'com.cgworks.components.admin.ResourceTypeList' @ sling=sling}" data-sly-unwrap>
    <div data-sly-list.type="${types.availableRTypes}" data-sly-unwrap>
        <option value="${type.resourceType}">${type.resourceType}</option>
    </div>
</div>
    </select>
    <div class="clearfix"></div>
    <label for="pageTitleInput">Title:</label>
    <input type="text" name="pageTitle" id="pageTitleInput"/>
    <div class="clearfix"></div>
    <label for="nodeNameInput">Node name:</label>
    <input type="text" name="nodeName" id="nodeNameInput"/>
    <div class="clearfix"></div>
    <button type="submit" name="action" value="Create">Create</button>
    <button type="submit" name="action" value="Delete">Delete</button>
</div>
</form>
<div class="clearfix"></div>
<div class="col-lg-push-6 col-lg-6">
<form action="/bin/admin/fileupload.html" method="POST" id="fileupload-form" name="fileupload-form" enctype='multipart/form-data'>
    <label for="fileUpload">Upload File:</label>
    <input type="file" name="fileUpload" id="fileUpload" accept="image/*">
    <button type="submit" name="action" value="Upload">Upload</button>
</form>
</div>
<div class="clearfix"></div>
<div class="col-lg-push-6 col-lg-6">
    <form action="/bin/admin/nodetypes" method="POST" id="frump" name="fromp" enctype="multipart/form-data">
        <label for="cndUpload">Upload CND:</label>
        <input type="file" name="cndUpload" id="cndUpload">
        <button type="submit">Update Nodetypes</button>
    </form>
</div>