<form action="?search=true" method="get">
    Search Products:
    <input type="search" name="searchInput" id="shop-search-input"/>
    <button type="submit" class="small-submit">Submit</button>
</form>