<div class="col-md-6">
    <h2>Bummer bro, something went terribly wrong.</h2>
</div>
<div class="col-md-6">
    <div data-sly-include="/apps/components/login/login.html" data-sly-unwrap></div>
</div>
