<template data-sly-template.bidItemTemplate="${ @ bidItem}">

<div class="col-sm-4">
    <div data-sly-test="${bidItem.imageNames}" data-sly-unwrap>
        <div data-sly-use.template="/apps/components/image/image.html" data-sly-unwrap>
            <div data-sly-call="${template.imageTemplate @ name = bidItem.imageNames[0], width = '200', sling=sling}" data-sly-unwrap></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <a href="${bidItem.resourcePath}.html">${bidItem.title}</a>
    <div class="clearfix"></div>
    <div class="col-sm-4"><h5>Current Bid: </h5> <h6> ${bidItem.currentBid.bidAmount}</h6></div>
    <div class="col-sm-8 input-group"><h5 class="input-group-addon">Enter Bid:</h5><input type="number" name="newBid" id="${bidItem.resourcePath}" min="${bidItem.currentBid.bidAmount}" class="form-control bid-input">
        <span class="input-group-btn">
        <button type="button" class="btn btn-secondary submit-bid" aria-label="Left Align">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;
        </button>
    </span></div>
    <div class="clearfix"></div>
    <h5> Username:</h5> <h6> ${bidItem.currentBid.bidUser}</h6>
    <div class="clearfix"></div>

</div>

</template>