<h3> Auctions</h3>
<div class="clearfix"></div>

<div data-sly-use.auction="${'com.cgworks.components.page.AuctionPage' @ request=request, sling=sling}" data-sly-unwrap>
    <div data-sly-test.haveItems="${auction.auctionItems}" data-sly-unwrap>
        <div data-sly-list.bidItem="${auction.auctionItems}" data-sly-unwrap>
            <!-- template -->
            <div data-sly-use.template="bid-item.html" data-sly-unwrap>
                <div data-sly-call="${template.bidItemTemplate @ bidItem = bidItem }" data-sly-unwrap></div>
            </div>
        </div>
    </div>

</div>