<script src="/etc/js/jquery.min.js"></script>
<script src="/etc/js/bootstrap.min.js"></script>
<script src="/etc/js/utils.js"></script>

<script type="text/javascript">

$('.submit-bid').on('click', function(){
    var bidInput = $(this).parent().parent().children('.bid-input');
    var itemPath = bidInput.attr('id');
    var bidAmount = bidInput.val();
    if(bidAmount > bidInput.attr('min')){
        //alert(itemPath + "  " + bidAmount);
        $.post('/bin/auction/bid', { item: itemPath, amount: bidAmount})
                .done(function(data){
                    alert('posted');
                });
        }
    else{
        alert("Enter higher bid please");
    }

});


</script>